<div ng-repeat="rev in product.reviews">
    <blockquote>
        <strong class="pull-right">{{"Rating: " + rev.stars}}</strong> {{rev.body}}
        <cite class="clearfix">{{rev.author}} on {{rev.createdOn | date}}</cite>
    </blockquote>
</div>

<!--  Review Form -->
<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">

    <!--  Live Preview -->
    <blockquote>
        <strong class="pull-right">{{"Rating: " + reviewCtrl.rev.stars}}</strong> {{reviewCtrl.rev.body}}
        <cite class="clearfix">{{reviewCtrl.rev.author}}</cite>
    </blockquote>

    <!--  Review Form -->
    <h4>Submit a Review</h4>
    <fieldset class="form-group">
        <select ng-model="reviewCtrl.rev.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
            <option value="">Rate the Product</option>
        </select>
    </fieldset>

    <fieldset class="form-group">
        <textarea ng-model="reviewCtrl.rev.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
    </fieldset>

    <fieldset class="form-group">
        <input ng-model="reviewCtrl.rev.author" class="form-control" type="email" placeholder="jimmyDean@example.org" title="Email" required>
    </fieldset>

    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit" />
    </fieldset>

</form>